<ion-header>
  <ng-container *ngIf="listenToEvent('NickName') | async as nameProperties">
    <ion-toolbar class->
      <ion-title>{{ nameProperties.name }} </ion-title>
      <ng-container *ngIf="listenToEvent('ChargeState') | async as isCharging">
        <ng-container
          *ngIf="listenToEvent('BatteryInfo') | async as batteryLevel"
        >
          <app-battery-state
            [isCharging]="isCharging"
            [batteryLevel]="batteryLevel"
            slot="primary"
          ></app-battery-state>
        </ng-container>
      </ng-container>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title size="small">{{ nameProperties.model }}</ion-title>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <div *ngIf="listenToEvent('MapImage') | async as mapPNG">
    <img [src]="mapPNG" />
  </div>

  <ng-container *ngIf="listenToEvent('CleanReport') | async as cleanStatus">
    {{cleanStatus}}
    <ion-fab
      *ngIf="cleanStatus === 'pause' || cleanStatus === 'idle'"
      vertical="bottom"
      horizontal="center"
      edge
      slot="fixed"
    >
      <ion-fab-button>
        <ion-icon (click)="startCleaning()" name="play"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab
      *ngIf="cleanStatus !== 'pause'"
      vertical="bottom"
      horizontal="center"
      edge
      slot="fixed"
    >
      <ion-fab-button>
        <ion-icon (click)="pauseCleaning()" name="pause"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="returnToHome()" size="small">
      <ion-icon name="home"></ion-icon></ion-button
  ></ion-toolbar>
</ion-footer>
